# --- Security & Credentials ---
.env
.aws/
*.pem

# --- Local Databases & Cloud Simulation ---
postgres_data/
localstack_data/
*.db
*.sqlite

# --- Mage AI (Orchestrator) ---
orchestrator/.preferences.yaml
orchestrator/mage-ai.db
orchestrator/db/
orchestrator/logs/
mage_data/
.mage_variables.json
orchestrator/pipelines/*/.variables/


# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# --- Python & System ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# --- OS & IDEs ---
.DS_Store
.vscode/

# --- Logs ---
*.log