# --- Security & Credentials ---
.env
.aws/
*.pem

# --- Local Databases & Cloud Simulation ---
postgres_data/
localstack_data/
*.db
*.sqlite

# --- Mage AI (Orchestrator) ---
orchestrator/.preferences.yaml
orchestrator/mage-ai.db
mage_data/


# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.backup

# --- Python & System ---
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.venv/
env/
venv/
ENV/